<div id="scoreboard">
{{#each players}}
  <div class="player">
    <div class="position">{{position}}</div>
    <div class="image">
      <a class="screen-name user-profile-link js-action-profile-name" href="{{url}}">
        <img src="{{profile_image_url}}" alt=""/>
      </a>
    </div>
    <div class="content">
      <div class="line">
        <a class="screen-name" href="http://twitter.com/{{screen_name}}">{{screen_name}}</a>
      </div>
      <div class="line">
        <div class="score">{{score}} points</div>
      </div>
    </div>
  </div>
{{/each}}
</div>